@model MemberEditViewModel
@{
    ViewData["Title"] = "Cập nhật thông tin";
}

<div class="card grouping">
    <h4>Thay đổi hình đại diện</h4>
    <hr />
    <div class="row">
        <div id="avatar-upload" class="col-md-4">
            <div class="image-viewport"></div>
            <div class="upload-btn-group">
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input class="input-file" type="file" name="origin">
                </span>
                <button type="button" class="btn btn-primary start-button">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card grouping">
    <h4>Cập nhật thông tin</h4>
    <hr/>
    <div class="form-content col-md-7">
        <form asp-controller="Members" asp-action="Edit" method="post" class="form-horizontal">
            <div class="form-group">
                <label asp-for="CityId" class="col-md-3 control-label">Thành phố</label>
                <div class="col-md-9">
                    <select asp-for="CityId" asp-items="@Model.Cities" class="form-control">
                        <option value="">Chọn thành phố của bạn</option>
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DistrictId" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <select asp-for="DistrictId" asp-items="@Model.Districts" class="form-control">
                        <option value="">Chọn quận của bạn</option>
                    </select>
                    <span asp-validation-for="DistrictId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StrongFoot" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <label class="radio-inline"><input asp-for="StrongFoot" type="radio" value="false">Trái</label>
                    <label class="radio-inline"><input asp-for="StrongFoot" type="radio" value="true">Phải</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Positions" class="col-md-3 control-label"></label>
                <div class="positions col-md-9">
                    @for (var i = 0; i < Model.Positions.Count; i++)
                    {
                        <label asp-for="@Model.Positions[i].Selected" class="checkbox-inline">
                            <input type="checkbox" asp-for="@Model.Positions[i].Selected">@Model.Positions[i].Name
                            <input type="hidden" asp-for="@Model.Positions[i].Id">
                            <input type="hidden" asp-for="@Model.Positions[i].Name">
                        </label>
                    }
                </div>

            </div>
            <div class="form-group">
                <label asp-for="Height" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="Height" class="form-control"/>
                    <span asp-validation-for="Height" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="BirthDate" asp-format="{0:yyyy-MM-dd}" class="form-control"/>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="Phone" class="form-control"/>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-md-5">
        <div class="positions-view">
                <img src="~/images/statdium-image.png" alt="favorite positions"/>
                @for (var i = 0; i < Model.Positions.Count; i++)
                {
                    <label class="positions-item + @(Model.Positions[i].Selected ? "positions-item--selected" : "")" asp-for="@Model.Positions[i].Selected">@Model.Positions[i].Name</label>
                }    
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_LocationFormScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/Croppie/croppie.js"></script>
    
    <script>
        $(function() {
            MemberEditController.positionToggle(".form-content");
            MemberEditController.setDatePicker("#BirthDate");
            PhotosController.init("#avatar-upload",
                {
                    viewport: { width: 160, height: 160, type: "circle" },
                    boundary: { width: 250, height: 250 }
                });
        });
    </script>
}