@using TeamUp.Core.Enums
@model MemberInfoViewModel

<div class="card grouping">
    <h4>Thông tin</h4>
    <hr/>
    <div id="member-info">
        <div class="member-info__profile well grouping">
            <div class="profile-grid-left">
                <div class="profile-picture">
                    <img src="/uploads/@Model.Avatar" alt="Profile picture"/>
                </div>
            </div>
            <div class="profile-grid-right">
                <h1>@Model.Name</h1>
                <div class="positions">
                    @foreach (var position in @Model.Positions)
                    {
                        <span class="label label-primary label-md">@position</span>
                    }
                </div>
                <div class="strongfoot">
                    @if (Model.StrongFoot.HasValue)
                    {
                        <img src="/images/icons/@(Model.StrongFoot.Value ? "right-foot" : "left-foot").png" alt="none" />
                    }
                </div>
            </div>
        </div>
        <div class="member-info__detail">
            <table class="table">
                <tr>
                    <th scope="row">Địa chỉ</th>
                    <td>@Model.GetLocation()</td>
                </tr>
                <tr>
                    <th scope="row">Đội bóng</th>
                    @if (@Model.Team != null)
                    {
                        <td><a asp-controller="Teams" asp-action="Info" asp-route-id=@Model.Team.Id>@Model.Team.Name</a></td>
                    }
                    else
                    {
                        <td>Không có</td>
                    }
                </tr>
                <tr>
                    <th scope="row">Tuổi</th>
                    <td>@Model.Age</td>
                </tr>
                <tr>
                    <th scope="row">Chiều cao</th>
                    <td>@Model.Height (cm)</td>
                </tr>
                <tr>
                    <th scope="row">Số điện thoại</th>
                    <td>@Model.Phone</td>
                </tr>
            </table>
            <button class="btn btn-primary">Mời vào đội</button>
            <a asp-controller="Members" asp-action="Edit" class="btn btn-primary">Sửa thông tin</a>
        </div>
    </div>
</div>
<div class="card grouping">
    <h4>Yêu cầu gia nhập</h4>
    <hr />
    <table id="join-requests" class="table">
        <thead>
        <tr>
            <th>Ngày Tạo</th>
            <th>Ngày Phản Hồi</th>
            <th>Đội Bóng</th>
            <th>Trạng Thái</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var request in Model.JoinRequests)
        {
            <tr>
                <td>@request.CreatedTime</td>
                <td>@request.UpdatedTime</td>
                <td><a asp-controller="Teams" asp-action="Info" asp-route-id="@request.TeamId">@request.TeamName</a></td>
                <td>@request.Status</td>
                <td>
                    @if (request.Status == RequestStatus.Pending)
                    {
                        <button class="btn btn-sm btn-primary js-cancel" data-request-id="@request.Id">Hủy bỏ</button>
                    }
                </td>
            </tr>
        }
        </tbody>
        </table>
</div>
@section Scripts {
    <script>
        $(function() {
            MemberInfoController.init("#join-requests");
        });
    </script>
}