@using Microsoft.AspNetCore.Mvc.Rendering
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TeamUp</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/bootstrap-paper/bootstrap-paper.css" rel="stylesheet" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
        <link href="~/lib/jquery-ui/themes/base/theme.css" rel="stylesheet" />
        <link href="~/lib/jquery-ui/themes/base/datepicker.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/member-info.css" rel="stylesheet" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @Html.Partial("_NavBar")
    @if (User.Identity.IsAuthenticated)
    {
        @await Component.InvokeAsync("SideBar");
        <div class="container-fluid content">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container body-content">
            <div class="row">
                @RenderBody()
            </div>
            <div class="row">
                <hr />
                <footer>
                    <p>&copy; 2017 - TeamUp</p>
                </footer>
            </div>
        </div>
    }
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/app/services/requestService.js"></script>
        <script src="~/app/services/teamService.js"></script>
        <script src="~/app/controllers/teamsController.js"></script>
        <script src="~/app/controllers/teamInfoController.js"></script>
        <script src="~/app/controllers/memberInfoController.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
