@using System.Linq
@model TeamInfoViewModel

@{
    ViewData["Title"] = "Thông tin đội";
}

<div class="card grouping">
    <div class="team-info">
        <div class="team-info--banner">
            <img src="/uploads/noCover.jpg" alt="Team banner">
        </div>
        <div class="team-info--content">
            <div class="team-info--content__logo-block">
                <img src="/uploads/noLogo.jpg" alt="Team logo">
            </div>
            <ul>
                <li class="team-name">@Model.Name</li>
                <li class="city">@Model.City</li>
                <li class="district">@Model.District</li>
                <li class="created-date">Thành lập: @Model.CreatedDate.ToString("d")</li>
                <li ><button data-team-id="@Model.Id" class="btn btn-warning js-join">Xin gia nhập</button></li>
            </ul>
        </div>
        <div class="team-info--memberlist">
            <h1>Thành viên (@Model.Members.Count)</h1>
            <div class="row">
                @foreach (var member in @Model.Members)
                {
                    <div class="col-md-4">
                        <div class="member-info">
                            <div class="member-info__avatar">
                                <a asp-controller="Members" asp-action="Info" asp-route-id="@member.Id">
                                    <img src="/uploads/@member.Avatar" alt="member avatar">
                                </a>
                            </div>
                            <ul>
                                <li>@member.Name</li>
                                <li>
                                    @foreach (var position in member.Positions)
                                    {
                                        <span class="label label-primary">@position</span>
                                    }
                                </li>
                                <li>Tuổi: @member.Age</li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<div class="card grouping">
    <div class="team-management">
        @if (Model.JoinRequests.Any())
        {
            <h4>Thành viên xin gia nhập</h4>
            <table class="table table-condensed">
                @foreach (var request in @Model.JoinRequests)
                {
                    <tr>
                        <td>@request.CreatedTime.ToString("d")</td>
                        <td>@request.UserName</td>
                        <td>@request.Status</td>
                        <td>
                            <button class="btn btn-sm btn-primary js-approve" data-user-id="@request.UserId" data-team-id="@Model.Id">Đồng ý</button>
                            <button class="btn btn-sm btn-danger js-reject" data-user-id="@request.UserId" data-team-id="@Model.Id">Từ chối</button>
                        </td>
                    </tr>
                }
            </table>
        }
        <a asp-controller="Teams" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Chỉnh sửa</a>
        <button data-team-id="@Model.Id" class="btn btn-danger js-team-delete">Xóa</button>
        <button class="btn btn-info js-leave">Rời đội</button>
        <a asp-controller="Teams" asp-action="Index" class="btn btn-default">Quay lại</a>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            TeamInfoController.init(".team-info");
            TeamInfoController.init(".team-management");
        });
    </script>
}



