@model TeamDetailViewModel

@{
    ViewData["Title"] = "Chi tiết đội bóng";
}

<div class="col-md-4">
    <figure>
        <img src=@Model.Logo alt="Team Logo" />
        <figcaption>@Model.Name</figcaption>
    </figure>
</div>
<div class="col-md-8">
    <div class="list-group">
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Đội trưởng</h5>
            <p class="list-group-item-text">@Model.Captain.Name</p>
        </a>
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Thành phố</h5>
            <p class="list-group-item-text">@Model.City</p>
        </a>
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Quận</h5>
            <p class="list-group-item-text">@Model.District</p>
        </a>
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Ngày thành lập</h5>
            <p class="list-group-item-text">@Model.CreatedDate.ToString("d")</p>
        </a>
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Thành viên</h5>
            <ol>
                @foreach (var member in Model.Members)
                {
                    <li>@member.Name</li>
                }
            </ol>
        </a>
    </div>

    <a asp-controller="Team" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Chỉnh sửa</a>
    <button data-team-id="@Model.Id" class="btn btn-danger js-team-delete">Xóa</button>
    <a asp-controller="Team" asp-action="Index" class="btn btn-default">Quay lại</a>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-team-delete').on('click',
                function () {
                    var button = this;
                    if (confirm('Bạn có chắc muốn giải thể đội bóng không?')) {
                        $.post('/team/delete/' + $(button).attr('data-team-id'),
                            function () {
                                window.location.replace('/team');
                            })
                            .fail(function () {
                                alert('fail');
                            });
                    }
                });
        });
    </script>
}



