@model TeamViewModel

@{
    ViewData["Title"] = "Chi tiết đội bóng";
}

<div class="col-md-4">
    <figure>
        <img src=@Model.Logo alt="Team Logo" />
        <figcaption>@Model.Name</figcaption>
    </figure>
</div>
<div class="col-md-8">
    <div class="list-group">
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Đội trưởng</h5>
            <p class="list-group-item-text">@Model.Captain.Name</p>
        </a>
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Thành phố</h5>
            <p class="list-group-item-text">@Model.City</p>
        </a>
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Quận</h5>
            <p class="list-group-item-text">@Model.District</p>
        </a>
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Ngày thành lập</h5>
            <p class="list-group-item-text">@Model.CreatedDate.ToString("d")</p>
        </a>
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Thành viên</h5>
            <ol>
                @foreach (var member in Model.Members)
                {
                    <li>@member.Name</li>
                }
            </ol>
        </a>
    </div>
    
    @if (Model.JoinRequests.Any())
    {
        <h4>Thành viên xin gia nhập</h4>
        <table class="table table-condensed">
            @foreach (var request in @Model.JoinRequests)
            {
                <tr>
                    <td>@request.CreatedTime.ToString("d")</td>
                    <td>@request.UserName</td>
                    <td>@request.Status</td>
                    <td>
                        <button class="btn btn-sm btn-primary js-approve" data-user-id="@request.UserId" data-team-id="@Model.Id">Đồng ý</button>
                        <button class="btn btn-sm btn-danger js-reject" data-user-id="@request.UserId" data-team-id="@Model.Id">Từ chối</button>
                    </td>
                </tr>    
            }
        
        </table>    
    }

    <a asp-controller="Team" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Chỉnh sửa</a>
    <button data-team-id="@Model.Id" class="btn btn-danger js-team-delete">Xóa</button>
    <a asp-controller="Team" asp-action="Index" class="btn btn-default">Quay lại</a>

</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-team-delete').on('click',
                function () {
                    var button = this;
                    swal({
                            title: "Bạn muốn giải thể đội bóng?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Chắc chắn",
                            closeOnConfirm: false
                        },
                        function () {
                            $.post('/team/delete/' + $(button).attr('data-team-id'))
                                .done(function () {
                                        swal({
                                            title: "Thành công",
                                            text: "Dữ liệu đội bóng đã bị xóa",
                                            type: "success",
                                            showConfirmButton: false,
                                            timer: 2000
                                    },
                                        function(){
                                            window.location.replace('/team');
                                        });
                                })
                                .fail(function (err) {
                                    swal(err.responseText, null, 'error');
                                });
                        });
                });

            $('.js-approve').on('click', function (e) {
                var button = $(e.target);
                $.post('/request/approve', { UserId: button.attr('data-user-id'), TeamId: button.attr('data-team-id') })
                    .done(function(username) {
                        button.parents('tr').fadeOut(300, function() {
                            $(this.remove());
                        });
                        $('.list-group-item > ol').append('<li>' + username + '</li>');
                    })
                    .fail(function (err) {
                        swal(err.responseText, null, 'error');
                    });
            });

            $('.js-reject').on('click', function (e) {
                var button = $(e.target);
                $.post('/request/reject', { UserId: button.attr('data-user-id'), TeamId: button.attr('data-team-id') })
                    .done(function() {
                        button.parents('tr').fadeOut(300, function () {
                            $(this.remove());
                        });
                    })
                    .fail(function(err) {
                        swal(err.responseText, null, 'error');
                });
            });
        });
    </script>
}



